label {
    display: inline-block;
}

h1, h2, h3 {
    line-height: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

.breadcrumb {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #fff;
}
