<div class="comment">
    <span class="title">Gửi bình luận</span>
    <p>Họ tên<span class="required">(*)</span></p>
    <input type="text" name="email" value="">
    <p>Gửi bình luận<span class="required">(*)</span></p>
    <textarea name="text" cols="40" rows="8"></textarea>
    <a class="button" href="#"><span>Gửi</span></a>
</div>
