@using genealogy.business;
@using genealogy.business.Base;
@using System.Text;
@model List<GENAlbumDetails>
@if (Model != null)
{
    <div class="video" id="videobox">
        @{
    StringBuilder sbVideoMain = new StringBuilder();
    StringBuilder sbVideoList = new StringBuilder();
    for (int i = 0; i < Model.Count; i++)
    {
        if (i == 0)
        {
            sbVideoMain.Append(Model[i].ContentFrame);
        }
        else
        {
            sbVideoList.Append("<li><a data-url= href=\"\" title=\"colorbox\" rel=\"colorbox\"><img src=\"" + DataHelper.GenImageAlbum(Model[i]) + "\" alt=\"\" title=\"pro01\" /></a></li>");
        }
    }
            <div class="video_main">
                @Html.Raw(sbVideoMain)
            </div>
            <div class="video-additional">
                <h3>Video họ Trần </h3>
                <ul class="jcarousel-skin-opencart">
                    @Html.Raw(sbVideoList)
                </ul>
            </div>
        }
    </div>
    <script type="text/javascript">
        $("#videobox iframe").each(function () {
            $(this).css("width", "318px");
            $(this).css("height", "179px");
        });
        $("#videobox img").each(function () {
            $(this).css("width", "89px");
            $(this).css("height", "74px");
        });
    </script>
}