<div class="video">
    <div class="video_main">
        <object width="318" height="179">
            <param name="movie" value="https://www.youtube-nocookie.com/v/6bhjqixhLN8?version=3&amp;hl=vi_VN"></param>
            <param name="allowFullScreen" value="true"></param>
            <param name="allowscriptaccess" value="always"></param>
            <embed src="https://www.youtube-nocookie.com/v/6bhjqixhLN8?version=3&amp;hl=vi_VN" type="application/x-shockwave-flash" width="318" height="179" allowscriptaccess="always" allowfullscreen="true"></embed></object>
    </div>
    <h3>Video họ Trần </h3>
    <div class="video-additional">
        <ul class="jcarousel-skin-opencart">
            <li><a href="#" title="colorbox" rel="colorbox">
                <img src="/Content/themes/images/video_03.jpg" alt="" title="pro01" /></a></li>
            <li><a href="#" title="colorbox" rel="colorbox">
                <img src="/Content/themes/images/video_05.jpg" alt="" title="pro02" /></a></li>
            <li><a href="#" title="colorbox" rel="colorbox">
                <img src="/Content/themes/images/video_07.jpg" alt="" title="pro03" /></a></li>
            <li><a href="#" title="colorbox" rel="colorbox">
                <img src="/Content/themes/images/video_03.jpg" alt="" title="pro03" /></a></li>
            <li><a href="#" title="colorbox" rel="colorbox">
                <img src="/Content/themes/images/video_05.jpg" alt="" title="pro02" /></a></li>
            <li><a href="#" title="colorbox" rel="colorbox">
                <img src="/Content/themes/images/video_07.jpg" alt="" title="pro03" /></a></li>
        </ul>
    </div>
</div>
