<div class="header_top">
    <marquee align="center" direction="left" height="auto" scrollamount="3" width="100%">
					<img src="/Content/themes/images/welcome_03.png"/>
				</marquee>
    <a class="header_logo" href="/" title="">
        <img src="/Content/themes/images/logo_03.png" /></a>
</div>
<div class="header_bottom">
    <div class="menu" id="smoothmenu1">
        <ul>
            <li class="active"><a href="/" class="active">Trang chủ</a> </li>
            <li><a href="#">Giới thiệu</a>
            </li>
            <li><a href="#">Tin tức</a></li>
            <li><a href="#">Gia phả</a>
                <ul>
                    <li><a href="#">Hình ảnh</a></li>
                    <li><a href="#">Video</a></li>
                    <li><a href="#">Tư liệu</a></li>
                </ul>
            </li>
            <li><a href="#">Thành viên</a>
                <ul>
                    <li><a href="#">Đăng nhập</a></li>
                    <li><a href="#">Đăng ký</a></li>
                    <li><a href="#">Quên mật khẩu</a></li>
                </ul>
            </li>
            <li><a href="#">liên hệ</a></li>
        </ul>
    </div>
    <div class="tab_bottom">
        <div class="social">
            <h3>Liên kết</h3>
            <ul>
                <li class="facebook"><a title="Facebook" href="#">Facebook</a></li>
                <li class="twitter"><a title="Twitter" href="#">Twitter</a></li>
                <li class="rss"><a title="Vimeo" href="#">RSS Feed</a></li>
                <li class="flickr"><a title="Flickr" href="#">Flickr</a></li>
                <li class="vimeo"><a title="RSS Feed" href="#">Vimeo</a></li>
            </ul>
        </div>
        <div id="search">
            <input type="text" onkeydown="this.style.color = '#000000';" onclick="this.value = '';" value="Tìm kiếm" name="filter_name">
            <div title="Search" class="button-search"></div>
        </div>
    </div>
</div>
