<div class="box">
    <div class="box-heading">
        Liên kết website
    </div>
    <div class="box-content">
        <select>
            <option value="#">vnexpress.net</option>
        </select>
        <a href="#" class="button"><span>Chuyển tới</span></a>
    </div>
</div>
