<div class="box">
				<div class="box-heading">
					Hỗ trợ trực tuyến
				</div>
				<div class="box-content">
					<ul>
						<li><span>Hỗ trợ trực tuyến 1</span><a href="#"><img src="/Content/themes/images/yahoo_06.png" /></a></li>
						<li><span>Hỗ trợ trực tuyến 2</span><a href="#"><img src="/Content/themes/images/yahoo_03.png" /></a></li>
						<li class="hotline">Hotline: <b>1900 000 000</b></li>
					</ul>
				</div>
			</div> 