<div id="navbar-example" class="navbar navbar-static">
    <div class="navbar-inner">
        <div class="container" style="width: auto;">
            <a class="brand" href="/quan-tri">Trang chủ</a>
            <ul class="nav" role="navigation">
                <!--Quan ly tin tuc-->
                <li class="dropdown">
                    <a id="div-menunews" href="/quan-tri/cms/NewsCategoryList" role="button" class="dropdown-toggle" data-toggle="dropdown">Tin tức <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="div-menunews">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/quan-tri/cms/NewsCategoryList">Danh mục tin tức</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/quan-tri/cms/NewsList">Danh sách tin tức</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/quan-tri/cms/NewsEvents">Danh sách sự kiện</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/quan-tri/cms/NewsCategoryEdit">Thêm mới danh mục tin tức</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/quan-tri/cms/NewsEdit">Thêm mới tin tức</a></li>
                    </ul>
                </li>
                <!--Quan ly Menu Website-->
                <li class="dropdown">
                    <a id="div-menuwebsite" href="/quan-tri/cms/MenuList" role="button" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="div-menuwebsite">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/quan-tri/cms/MenuList">Danh sách menu</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/quan-tri/cms/MenuEdit">Thêm mới menu</a></li>
                    </ul>
                </li>
                <!--Quan ly Thanh vien-->
                <li class="dropdown">
                    <a id="div-member" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Thành viên <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="div-member">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/quan-tri/cms/UserList">Danh sách thành viên</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/quan-tri/cms/AddUser">Thêm mới thành viên</a></li>
                    </ul>
                </li>
                <!--Quan ly Tai Lieu-->
                <li class="dropdown">
                    <a id="div-document" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Tài liệu <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="div-document">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Danh mục tài liệu</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tài liệu</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Thêm mới danh mục tài liệu</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Thêm mới tài liệu</a></li>
                    </ul>
                </li>
                <!--Quan ly Album hình-->
                <li class="dropdown">
                    <a id="div-albumiamge" href="/quan-tri/cms/AlbumList" role="button" class="dropdown-toggle" data-toggle="dropdown">Album hình <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="div-document">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/quan-tri/cms/AlbumList">Danh sách Album hình</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/quan-tri/cms/AlbumEdit">Thêm mới Album hình</a></li>
                    </ul>
                </li>
                 <!--Quan ly Album video-->
                <li class="dropdown">
                    <a id="div-albumvideo" href="/quan-tri/cms/AlbumListVideo" role="button" class="dropdown-toggle" data-toggle="dropdown">Album video <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="div-document">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/quan-tri/cms/AlbumListVideo">Danh sách Album video</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/quan-tri/cms/AlbumEditVideo">Thêm mới Album video</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
