@{
    ViewBag.Title = "NewsCategory";
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
}
<div class="input-append">
    <input class="input-xxlarge" id="appendedInputButtons" type="text" placeholder="Nhập chuỗi tìm kiếm">
    <button class="btn" type="button" data-loading-text="Loading...">Tìm</button>
</div>
