@{
    ViewBag.Title = "NewsCategory";
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
}
@model PagedList.IPagedList<MvcPagingSorting.Models.Employee>
<header>
    <h3>Danh mục tin tức </h3>
</header>
<div class="input-append">
    <input class="input-xxlarge" id="appendedInputButtons" type="text" placeholder="Nhập chuỗi tìm kiếm">
    <button class="btn" type="button" data-loading-text="Loading...">Tìm</button>
</div>
