@(Html.Telerik().Upload()
        .Name("attachments")
        .Multiple((bool)ViewData["multiple"])
        .Async(async => async
            .Save("SaveThumnailVideo", "Cms")
            .Remove("RemoveThumnailVideo", "Cms")
            .AutoUpload((bool)ViewData["autoUpload"])
        )
)
<p class="note">
    Maximum allowed file size: 10 MB
</p>
