@model List<genealogy.business.Base.GENUsers>
@using MvcContrib.UI.Grid
@using MvcContrib.UI.Pager
@using MvcContrib.Pagination;
@using System.Linq;
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
}

<header>
    <h3>Danh sách người dùng</h3>
</header>
<div class="input-append">
    <input class="input-xxlarge" id="keyword" type="text" placeholder="Nhập chuỗi tìm kiếm">
    <button class="btn" type="button" data-loading-text="Loading..." onclick="search('SearchMenu')">Tìm</button>
</div>

@{ 
    int totalpage = Convert.ToInt32(ViewBag.page) / 10;
}
<div class="right" id="pagingReport">
    <div class="pagination">
        <ul>
            @for (int i = 0; i <= totalpage; i++)
            {
                if (i == 0)
                {
                <li class="active" data-page="@(i + 1)"><a data-role-report="paging"
                    data-url="SearchMenu">@(i + 1)</a></li>
                }
                else
                {
                <li data-page="@(i + 1)"><a data-role-report="paging"
                    data-url="SearchMenu">@(i + 1)</a></li>
                }

            }
        </ul>
    </div>
</div>

<div id="UserList" class="container">
    @{Html.RenderPartial("~/Views/Cms/Shared/_ListUser.cshtml", Model);}
</div>

<script type="text/javascript">
    typesearch = 7;
</script>