@{
    ViewBag.Title = "Cây phả hệ";
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}
<link rel="stylesheet" href="~/Scripts/treeview/jquery.treeview.css" />
<script src="~/Scripts/treeview/jquery.cookie.js" type="text/javascript"></script>
<script src="~/Scripts/treeview/jquery.treeview.js" type="text/javascript"></script>
@model System.Text.StringBuilder
<div class="genealogy-tree">
    <h2>Cây phả hệ</h2>
    <ul id="gray" class="treeview-gray">
        @Html.Raw(Model.ToString())
    </ul>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        // second example
        $("#navigation").treeview({
            persist: "location",
            collapsed: true,
            unique: true
        });
        $("#gray").treeview({
            control: "#treecontrol",
            persist: "cookie",
            cookieId: "treeview-black"
        });
    });
</script>
