@model genealogy.Models.LoginModels 
<div id="dang-nhap" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Đăng nhập</h3>
    </div>
    <div class="modal-body">
        
            @using (Ajax.BeginForm("Login", "Profile", null, new AjaxOptions() { OnBegin = "showMessPermission('Đang gửi thông tin ...');", OnSuccess = "successLogin" }))
            {
 
                <div class="box" style="margin: 20px auto 20px 100px;">
                    <div class="box-heading">
                    </div>
                    <div class="box-content">

                        <span class="field-validation-error" id="loginError"></span>

                        @Html.TextBoxFor(m => m.Email, new { placeholder = "email" })
                        @Html.ValidationMessageFor(n => n.Email)
                        <p></p>
                        @Html.PasswordFor(m => m.Password, new { placeholder = "mat khau" })
                        @Html.ValidationMessageFor(n => n.Password)
                        <p></p>

                       
                        <input type="submit" class="button" value="Đăng nhập" />

                    </div>
                </div>
            }
        
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<script>
    function successLogin(data) {
        if (data.Error == 1) {
            showMessPermission(data.Message);
            $('#loginError').text(data.Message);
        }
        else {
            window.location.reload();
        }
    }
</script>




