<div class="box">
    <div class="box-heading">
        Đăng nhập
    </div>
    <div class="box-content">
        <input type="text" value="Nhập tên" name="email" onclick="this.value = '';">
        <input type="password" value="Mật khẩu" name="password" onclick="this.value = '';">
        <a href="#" class="button"><span>Đăng nhập</span></a>
        <a class="forgot">Quên mật khẩu</a>
    </div>
</div>
