<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <!--css-->
    <link rel="stylesheet" href="/Content/themes/bootstrap/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/Content/themes/bootstrap/bootstrap-responsive.css" type="text/css" />
    <link rel="stylesheet" href="/Content/themes/cms/cms.css" type="text/css" />
    <!--jacascript-->
    <script type="text/javascript" src="/Scripts/base/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Scripts/base/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="/Scripts/base/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="/Scripts/base/jquery.validate.min.js"></script>
</head>
<body>
    <header class="header">
        @Html.Action("MenuCms", "Cms")
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="footer">
    </footer>
    <script type="text/ecmascript">
        $('.dropdown-toggle').dropdown()
    </script>
</body>
</html>
