<div class="box">
    <div class="box-heading">
        Đóng góp ý kiến
    </div>
    <div class="box-content">
        <p>Họ tên</p>
        <input type="text" value="" name="email">
        <p>Góp ý</p>
        <textarea rows="8" cols="40" name="text"></textarea>
        <a href="#" class="button"><span>Gửi</span></a>
    </div>
</div>
