 
<div id="quen-mat-khau" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"> Quên mật khẩu</h3>
    </div>
    <div class="modal-body">
        
            <form id="formforgetpass" method="post" enctype="multipart/form-data">
                <div class="box" style=" margin:20px auto 20px 100px;">
                    <div class="box-heading">
                      
                    </div>
                    <div class="box-content">
                        <input type="text" data-val="true" data-val-required="Nhập email" placeholder="Nhập email để chúng tôi gửi thông tin xác " id="email" name="email">
                        <button type="submit" class="button"><span>Lấy lại mật khẩu</span></button>
                    </div>
                </div>
            </form>
         
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div> 