@model genealogy.Models.LoginModels
@{
    ViewBag.Title = "AccountInfo";
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

<form id="formlogin" method="post" enctype="multipart/form-data">
    <div class="box">
        <div class="box-heading">
            Đăng nhập
        </div>
        <div class="box-content">
            @if (ViewBag.Error == 1)
            {
                <span class="field-validation-error">Email hoặc mật khẩu không đúng</span>
            }
            @Html.TextBoxFor(m => m.Email, new { placeholder = "email" })
            @Html.ValidationMessage("Email")
            <p></p>
            @Html.PasswordFor(m => m.Password, new { placeholder = "mat khau" })
            @Html.ValidationMessage("Password")
            <p></p>

            <p></p>
            <input type="submit" class="button" value="Đăng nhập" />
            <a href="/quen-mat-khau" class="forgot">Quên mật khẩu</a>
        </div>
    </div>
</form>

