@{
    ViewBag.Title = "ProfileInfo";
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}
<div class="content-other">
    <div class="breadcrumb">
        <a href="#">Trang chủ</a><a href="#" class="active">Thông tin cá nhân</a>
    </div>
    <div class="danhsachthanhvien">
        <div class="info-left">
            <img src="/Content/themes/images/no_avatar.jpg" />
            <h3>Trần Đức Luận</h3>
        </div>
        <div class="info-right">
            <p>Tên đầy đủ : Trần Đức Luận</p>
            <p>Tên thường gọi: Luận</p>
            <p>Giới tính: Nam</p>
            <p>Ngày sinh: 19/05/1983</p>
            <p>Vị trí trong gia đình: con trưởng</p>
            <p>Tôn giáo: Thiên chúa giáo</p>
            <p>Nguyên quán: Hương sơn Hà Tình</p>
            <p>Địa chỉ hiện tại: Sài Gòn</p>
            <p>Nghề nghiệp: Kỹ sư</p>
            <form>
                <table>
                    <tr>
                        <td>Còn sống &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" value="alive" name="life">
                        </td>
                        <td>Đã mất &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" value="died" name="life"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Ngày mất: </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Nơi an táng:</td>
                    </tr>
                    <tr>
                        <td class="last"></td>
                        <td class="last">Hưởng thọ:</td>
                    </tr>
                </table>
            </form>
            <p><b>Thông tin gia đình: </b></p>

            <table class="family">
                <tr>
                    <td>Họ tên bố:</td>
                    <td>Ngày sinh:</td>
                </tr>
                <tr>
                    <td>Họ tên mẹ:</td>
                    <td>Ngày sinh:</td>
                </tr>
                <tr>
                    <td colspan="2">Số anh chị anh trong nhà:
							......................................
                    </td>
            </table>

        </div>
    </div>
</div>
