@{
    ViewBag.Title = "AlbumImages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb">
    <a href="#">Trang chủ</a><a href="#">Tư liệu</a><a href="#" class="active">Hình ảnh</a>
</div>
<div class="form_tulieu">
    <div class="tulieu">
        <h2>Album hình ảnh họ Trần thôn ABC </h2>
        <div class="tab_info">
            <div class="tab_frame">
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
            </div>
        </div>
    </div>

    <div class="tulieu">
        <h2>Album hình ảnh họ Trần thôn XYZ </h2>
        <div class="tab_info">
            <div class="tab_frame">
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
            </div>
        </div>
    </div>

</div>
