<div class="breadcrumb">
    <a href="#">Trang chủ</a><a href="#">Tư liệu</a><a href="#" class="active">Video</a>
</div>
<div class="form_video">
    <div class="list_video">
        <h2>Video danh nhân </h2>
        <div class="items_cell">
            <a title="" href="#">
                <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
            <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
            <p>2 Ảnh | 821 lượt xem</p>
            <div class="playicon"></div>
        </div>
        <div class="items_cell">
            <a title="" href="#">
                <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
            <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
            <p>2 Ảnh | 821 lượt xem</p>
            <div class="playicon"></div>
        </div>
        <div class="items_cell">
            <a title="" href="#">
                <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
            <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
            <p>2 Ảnh | 821 lượt xem</p>
            <div class="playicon"></div>
        </div>
        <div class="items_cell">
            <a title="" href="#">
                <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
            <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
            <p>2 Ảnh | 821 lượt xem</p>
            <div class="playicon"></div>
        </div>
        <div class="items_cell">
            <a title="" href="#">
                <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
            <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
            <p>2 Ảnh | 821 lượt xem</p>
            <div class="playicon"></div>
        </div>
        <div class="items_cell">
            <a title="" href="#">
                <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
            <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
            <p>2 Ảnh | 821 lượt xem</p>
            <div class="playicon"></div>
        </div>
        <div class="items_cell">
            <a title="" href="#">
                <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
            <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
            <p>2 Ảnh | 821 lượt xem</p>
            <div class="playicon"></div>
        </div>
        <div class="items_cell">
            <a title="" href="#">
                <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
            <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
            <p>2 Ảnh | 821 lượt xem</p>
            <div class="playicon"></div>
        </div>
    </div>

    <div class="list_video">
        <h2>Video tư liệu các dòng họ </h2>
        <div class="items_cell">
            <a title="" href="#">
                <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
            <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
            <p>2 Ảnh | 821 lượt xem</p>
            <div class="playicon"></div>
        </div>
        <div class="items_cell">
            <a title="" href="#">
                <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
            <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
            <p>2 Ảnh | 821 lượt xem</p>
            <div class="playicon"></div>
        </div>
        <div class="items_cell">
            <a title="" href="#">
                <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
            <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
            <p>2 Ảnh | 821 lượt xem</p>
            <div class="playicon"></div>
        </div>
        <div class="items_cell">
            <a title="" href="#">
                <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
            <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
            <p>2 Ảnh | 821 lượt xem</p>
            <div class="playicon"></div>
        </div>
        <div class="items_cell">
            <a title="" href="#">
                <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
            <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
            <p>2 Ảnh | 821 lượt xem</p>
            <div class="playicon"></div>
        </div>
        <div class="items_cell">
            <a title="" href="#">
                <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
            <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
            <p>2 Ảnh | 821 lượt xem</p>
            <div class="playicon"></div>
        </div>
        <div class="items_cell">
            <a title="" href="#">
                <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
            <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
            <p>2 Ảnh | 821 lượt xem</p>
            <div class="playicon"></div>
        </div>
        <div class="items_cell">
            <a title="" href="#">
                <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
            <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
            <p>2 Ảnh | 821 lượt xem</p>
            <div class="playicon"></div>
        </div>
    </div>
</div>
