@using genealogy.business;
@using genealogy.business.Base;
@using genealogy.business.Custom;
@model List<genealogy.business.Base.GENAlbums>
@{
    ViewBag.Title = "AlbumImages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb">
    <a href="/">Trang chủ</a><a href="/tu-lieu">Tư liệu</a><a href="/tu-lieu/hinh-anh" class="active">Hình ảnh</a>
</div>
@if (Model != null)
{
    <div class="form_tulieu">
        @foreach (GENAlbums item in Model)
        {
            <div class="tulieu">
                <h2>@item.AlbumName </h2>
                @Html.Action("GetListAlbumDetailByAlbumId", "Album", new { albumid = item.AlbumID, intTypeId = @DataHelper.AlbumDetailTypeImage })
            </div>
        }
    </div>
}

@*<div class="form_tulieu">
    <div class="tulieu">
        <h2>Album hình ảnh họ Trần thôn ABC </h2>
        <div class="tab_info">
            <div class="tab_frame">
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
            </div>
        </div>
    </div>

    <div class="tulieu">
        <h2>Album hình ảnh họ Trần thôn XYZ </h2>
        <div class="tab_info">
            <div class="tab_frame">
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
                <div class="items_cell">
                    <a title="" href="#">
                        <img alt="" src="/Content/themes/images/img_3210.jpg"></a><br>
                    <a class="title_links" href="#"><strong>Họ Trương Thôn Công Hà, xã Hà...</strong></a>
                    <p>2 Ảnh | 821 lượt xem</p>
                </div>
            </div>
        </div>
    </div>

</div>*@
