@using genealogy.business;
@using genealogy.business.Base;
@using genealogy.business.Custom;
@model List<genealogy.business.Base.GENAlbums>
@{
    ViewBag.Title = "AlbumVideo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb">
    <a href="/">Trang chủ</a><a href="/tu-lieu">Tư liệu</a><a href="/tu-lieu/video" class="active">Video</a>
</div>
@if (Model != null)
{
    <div class="form_video">
        @foreach (GENAlbums item in Model)
        {
            <div class="list_video">
                <h2>@item.AlbumName </h2>
                @Html.Action("GetListAlbumDetailByAlbumId", "Album", new { albumid = item.AlbumID, intTypeId = @DataHelper.AlbumDetailTypeVideo })
            </div>
        }
    </div>
}
