@model List<genealogy.business.Base.GENAlbumDetails>
@{
    Layout = null;
}
@{
    int totalpage = Convert.ToInt32(ViewBag.page) / 10;
}

<div class="right" id="pagingReport">
    <div class="pagination">
        <ul>
            @* <li><a data-role-report="prev">Prev</a></li>*@
            @for (int i = 0; i <= totalpage; i++)
            {
                if (i == 0)
                {
                <li class="active" data-page="@(i + 1)"><a data-role-report="paging"
                    data-url="SearchAlbum">@(i + 1)</a></li>
                }
                else
                {
                <li data-page="@(i + 1)"><a data-role-report="paging"
                    data-url="SearchAlbum">@(i + 1)</a></li>
                }

            }
            @* <li><a data-role-report="next">Next</a></li>*@
        </ul>
    </div>
</div>
<div id="AlbumDetailList" class="container">
    @{Html.RenderPartial("~/Views/Cms/Shared/_ListAlbumDetailVideo.cshtml", Model);}
</div>
<script type="text/javascript">
    typesearch = 4;
</script>
