@{
    ViewBag.Title = "NewsCategory";
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
}
<form method="post" class="bs-docs-example form-horizontal" id="formdata">
    <div class="control-group warning">
        <label class="control-label" for="inputWarning">Input with warning</label>
        <div class="controls">
            <input type="text" id="inputWarning" name="inputWarning" value="123">
            <span class="help-inline">Something may have gone wrong</span>
        </div>
    </div>
    <div class="control-group error">
        <label class="control-label" for="inputError">Input with error</label>
        <div class="controls">
            <input type="text" id="inputError">
            <span class="help-inline">Please correct the error</span>
        </div>
    </div>
    <div class="control-group info">
        <label class="control-label" for="inputInfo">Input with info</label>
        <div class="controls">
            <input type="text" id="inputInfo">
            <span class="help-inline">Username is taken</span>
        </div>
    </div>
    <div class="control-group success">
        <label class="control-label" for="inputSuccess">Input with success</label>
        <div class="controls">
            <input type="text" id="inputSuccess">
            <span class="help-inline">Woohoo!</span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Primary</button>
</form>
