@using genealogy.business
@model genealogy.business.Base.GENNews
@{
    ViewBag.Title = "NewsDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Html.Raw(Model.NewsTitle)</h1>
<p></p>
<h2>@Html.Raw(HttpUtility.HtmlDecode(Model.Description))</h2>
<p>@Html.Raw(HttpUtility.HtmlDecode(Model.NewsContent))</p>

<p class="right"></p>
<script type="text/javascript">
    $(".content img").css("width", "600px");
</script>
<div style=" margin: 30px 0px;">
@Html.Action("InsertCommentNews", "Comment", new { id = ViewBag.id })

</div>